#Redirecionamento de HTTP para HTTPS
# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://www.royalparkempreendimentos.com.br/$1 [R=301,L]
#Redirecionamento de HTTP para HTTPS

#Regras já existentes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#Regras já existentes